<div class="container">
    <h3>Duty Roster</h3>
    <div class="bottom-margin" ng-show="canAddDutyRosterItem()">
        <button class="btn btn-success" ng-click="showAddDutyRosterItemModal()">Add</button>
        <span class="btn btn-default btn-primary btn-file">
            Upload TXT
            <input class="btn btn-primary" type="file" ng-model="file.data" file-select="data"
                   file-loaded="onFileLoaded()" file-error="onFileError($error)">
        </span>
        <label class="alert-danger">
            <input type="checkbox" name="overwriteRosters" ng-model="overwriteRosters">
            Overwrite Existing Duty Rosters
        </label>
    </div>

    <uib-accordion>
        <uib-accordion-group is-open="false" ng-repeat="roster in rosterData"
                             heading="{{getDate(roster.date) | date: 'EEE, MMM dd, yyyy'}}">
            <table class="table-striped">
                <thead>
                <tr>
                    <th>Hall</th>
                    <th>RA On Duty</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in roster.roster">
                    <td>{{item.hall}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.phoneNumber}}</td>
                </tr>
                </tbody>
            </table>
        </uib-accordion-group>
    </uib-accordion>
</div>