<div class="container">
    <h3>Duty Roster</h3>

    <uib-accordion>
        <uib-accordion-group is-open="false" ng-repeat="roster in rosters"
                             heading="{{getDate(roster.key) | date: 'EEE, MMM dd, yyyy'}}">
            <table class="table-striped">
                <thead>
                <tr>
                    <th>Hall</th>
                    <th>RA On Duty</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="entry in roster.entries">
                    <td>{{entry.hall}}</td>
                    <td>{{entry.employee.name}}</td>
                    <td>{{entry.employee.email}}</td>
                    <td>{{entry.employee.phoneNumber}}</td>
                </tr>
                </tbody>
            </table>
        </uib-accordion-group>
    </uib-accordion>
</div>