<div class="container">
    <h3>Hall Roster</h3>

    <div class="bottom-margin" ng-show="isAdmin()">
        <span class="btn btn-default btn-primary btn-file">
            Upload CSV
            <input class="btn btn-primary" type="file" ng-model="file.data" file-select="data"
                   file-loaded="onCsvLoaded()" file-error="onCsvError($error)">
        </span>
        <label class="alert-danger">
            <p>This operation assumes a complete overwrite of existing data in any rooms that are changed.</p>
            <p>Make sure all residents of an updated room are accounted for.</p>
        </label>
    </div>

    <div ng-show="isLoading">
        <h2>Loading All Students... </h2>
        <h1 class='glyphicon glyphicon-refresh spinning'></h1>
    </div>

    <uib-accordion>
        <uib-accordion-group class="panel-primary" ng-repeat="hall in hallData" heading="{{hall.hall}}" is-open="false">
            <table class="table-striped table-bordered">
                <thead>
                <tr>
                    <th>Room</th>
                    <th>Resident 1</th>
                    <th>Resident 2</th>
                    <th>Resident 3</th>
                </tr>
                </thead>
                <tbody id="tbody-residents" ng-repeat="floor in hall.floors">
                <tr ng-repeat="room in floor.rooms">
                    <td>{{room.number}}</td>
                    <td ng-repeat="resident in room.residents">{{resident.name}}</td>
                </tr>
                <!-- FIXME: replace with bootstrap -->
                <tr colspan=4><td class="separator my-separator"></td></tr>
                </tbody>
            </table>
        </uib-accordion-group>
    </uib-accordion>
</div>