<div class="container">
    <h3>Hall Roster</h3>

    <uib-accordion>
        <uib-accordion-group ng-repeat="hall in hallData" heading="{{hall.$id}}" is-open="false">
            <table class="table-striped table-bordered">
                <thead>
                <tr>
                    <th>Room</th>
                    <th>Resident 1</th>
                    <th>Resident 2</th>
                    <th>Resident 3</th>
                </tr>
                </thead>
                <tbody id="tbody-residents" ng-repeat="floor in hall.Roster" ng-if="floor !== null">
                <tr ng-repeat="room in floor">
                    <td>{{room.number}}</td>
                    <td ng-repeat="resident in getResidents(room)">{{resident}}</td>
                </tr>
                <tr colspan=4><td class="separator my-separator"></td></tr>
                </tbody>
            </table>
        </uib-accordion-group>
    </uib-accordion>
</div>