<div class="form-group" ng-class="{ 'has-error' : signinForm.email.$invalid }">
    <div class="input-group">
        <input type="email" name="email" ng-model="user.email" class="form-control"
               placeholder="Email address" required autofocus>
    </div>
    <p class="help-block" ng-show="!signinForm.email.$invalid">-</p>
    <p class="help-block" ng-show="signinForm.email.$invalid">Enter a valid email.</p>

    <div class="form-group" ng-class="{ 'has-error' : signinForm.email.$invalid }">
        <input type="password" name="password" ng-model="user.password" class="form-control"
               placeholder="Password" required="" ng-minlength="8" onfocus="isEmployee = true">
        <p class="help-block" ng-show="signinForm.password.$error.minlength">
            Min password length is 8 characters.
        </p>
        <p class="help-block" ng-show="!signinForm.password.$error.minlength">-</p>
    </div>
    <button ng-click="SignIn($event)" ng-disabled="!user.email || !user.password || !isEmployee"
            class="btn btn-lg btn-primary btn-block" type="submit" hotkey="{enter: SignIn}">
        Sign in
    </button>
</div>
