<div class="container">
    <h3>
        Current Employees
        <button class="btn btn-success" ng-click="showAddEmployeeModal()" ng-show="isAdmin()">Add</button>
    </h3>

    <uib-accordion>
        <uib-accordion-group ng-repeat="data in accordionData" heading="{{data.heading}}" is-open="data.showOnLoad">
            <table class="table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Hall</th>
                    <th>Room</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="person in data.data">
                    <td>{{person.name}}</td>
                    <td>{{person.email}}</td>
                    <td>{{person.hall}}</td>
                    <td>{{person.room}}</td>
                    <!-- TODO: allow editing, vary available fields based on admin or active employee -->
                    <!--<td ng-show="isAdmin() || isActiveUser(person)">-->
                        <!--<button class="btn btn-danger" ng-click="showEditEmployeeModal(person)">-->
                            <!--Edit-->
                        <!--</button>-->
                    <!--</td>-->
                    <td ng-show="isAdmin()">
                        <button class="btn btn-danger" ng-click="deleteEmployee(data.type, person)">
                            Delete
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </uib-accordion-group>
    </uib-accordion>
</div>